.places h1 {
  font-size: 30px;
}

.places article {
  display: inline-block;
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: #ff5a5f 1px solid;
  border-radius: 4px;
  position: relative;
}

.places article > h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
  margin-top: auto;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.price_by_night {
  color: #ff5a5f;
  border: #ff5a5f 4px solid;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.information {
  height: 80px;
  border-top: #dddddd 1px solid;
  border-bottom: #dddddd 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.information p {
  width: 100px;
  text-align: center;
  padding-top: 35px;
}

.max_guest {
  background: url("../images/icon_group.png") no-repeat;
}

.number_rooms {
  background: url("../images/icon_bed.png") no-repeat;
}

.number_bathrooms {
  background: url("../images/icon_bath.png") no-repeat;
}

.max_guest,
.number_rooms,
.number_bathrooms {
  background-position-x: center;
}

.user {
  padding: 10px 0;
}

.places .amenities,
.reviews {
  margin-top: 40px;
  width: 100%;
}

.places .amenities h2,
.reviews h2 {
  font-size: 16px;
  border-bottom: #dddddd 1px solid;
  text-align: left;
  padding: 10px 0;
}

.places .amenities ul,
.reviews ul {
  list-style: none;
  padding: 0;
}

.places .amenities li {
  text-indent: 20px;
  margin-bottom: 10px;
}

.reviews li {
  margin-bottom: 15px;
}

.reviews h3 {
  font-size: 14px;
  margin: 5px 0;
}

.reviews p {
  font-size: 12px;
  margin: 0;
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
}

.pets {
  background-image: url("../images/icon_pets.png");
}

.wifi {
  background-image: url("../images/icon_wifi.png");
}

.tv {
  background-image: url("../images/icon_tv.png");
}

footer {
  position: relative;
}
